p{/* é um elemento em bloco que converto em linha*/

    display: inline;
    background-color: yellow;

}

span {/* um elemento em linha que converto em bloco*/

    display: block;
    background-color: grey;



}